footer{
    background-color: rgb(30,32,35);
    text-align: center;
}

footer h1{
    text-transform: none;
    padding-top: 15vh;
    font-size: 55px;
    padding-bottom: 6vh;

    /* border: 1px solid red; */
}

footer a{
    font-size: 18px;
}

a span{
    background-color: rgb(215,34,35);
    color: white;
    padding:10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 5px;
}

footer #maill{
    font-size: 22px;
    font-weight: 300;
    text-decoration: underline;
    color:rgb(192, 192, 192);

    /* border: 1px solid red; */
}

.cv{
    padding-top: 5vh;
    padding-bottom: 10vh;
}

.cv a span{
    text-decoration: none;
    transition: .3s ease-in-out;
}

.cv a span:hover{
    color:rgb(215,34,35);
    background-color: #fff;
    transition: .3s ease-in-out;
}

.designed p{
    color:rgb(159, 159, 159);
    font-weight: 100;
    font-size: 14px;
}

.designed p span{
    color:rgb(215,34,35);
    font-weight: 600;
}

.designed{
    display: flex;
    justify-content: center;
    padding-top: 2vh;
    padding-bottom: 3vh;
}

.designed .name{
    color:rgb(192, 192, 192);
    margin-left: 5px;
    font-weight: 500;
}