@import url(/css/footer.css);

body{
    background-color: #25292d;
}

h1{
    font-size: 26px;
    line-height: 32px;
    color: #ffff;
    font-family:'League Spartan', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}
h2 {
    font-size: 22px;
    color: #ffff;
    font-family:'League Spartan', sans-serif;
    font-weight: 600;
    text-transform: none;
}
p{
    font-size: 14px;
    line-height: 18px;
    color: #ffff;
    font-family:'League Spartan', sans-serif;
}

a{
    font-size: 14px;
    line-height: 18px;
    color: #ffff;
    font-family:'League Spartan', sans-serif;
    cursor: pointer;
}

.header-main {
    position: fixed;
    top: 0;
    width: 100% ;
    height: 60px;
    background-color:#1d2023;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
}

.header-main-logo {
    width: fit-content;
    height: 100%;
    padding-left: 25px;
    display: flex;

}

.header-main-logo img {
    height: 80px;
    align-self:center;
}

.header-main-nav {

    width: fit-content;
    height: 100%;
}


.header-main-nav ul li{
    display: inline;
    float: left;  
     
}

.header-main-nav ul li a{
    padding: 0 25px;
    color: #fff;
    font-family: 'League Spartan', sans-serif;
    line-height: 60px;
    display: block;
    height: 100%;
}

.header-main-nav ul li a:hover{
    color:#d72323;
}

.header-main-sm {
    width: fit-content;
    height: 100%;
    padding-right: 50px;
    display: flex;
    align-items: center;
    column-gap: 15px ;
}

.header-main-sm-fb {
    width: 20px;
    height: 20px;
    background-image: url(../img/facebook-white.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.header-main-sm-fb:hover {
    background-image: url(../img/facebook-red.png);
}

.header-main-sm-in {
    width: 20px;
    height: 20px;
    background-image: url(../img/linkedin-white.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.header-main-sm-in:hover {
    background-image: url(../img/linkedin-red.png);
}
