.project-group{
    display: flex;
    justify-content: center;
    margin-bottom: 60px;

    gap: 60px;
}

.project-left{
    width: 50%;
}

.project-right{
    width: 50%;
}

.project-left h1{
    margin-top: 10px;
    font-size: 40px;
    font-weight: 800;
}

.project-right h1{
    margin-top: 10px;
    font-size: 40px;
    font-weight: 800;
}

.project-left h2{
    line-height: 25px;
    font-size: 18px;
    font-weight: 100;
    margin-right: 0%;
    margin-top: 20px;
}

.project-right h2{
    line-height: 25px;
    font-size: 18px;
    font-weight: 100;
    margin-right: 0%;
    margin-top: 20px;
}

.images{
    display: flex;
    justify-content: space-between;

    margin-top: -30px;
    margin-bottom: 70px;
    gap: 60px;
}

.image{
    width: 50%;
}

.image img{
    border-radius: 10px;
    width: 500px;
}

img{
    border-radius: 10px;
}

.userflow{
    text-align: left;
}

.userflow-text{
    text-align: left;
    margin-bottom: 40px;
}

.userstories{
    justify-content: center;
    text-align: center;

    margin-top: 60px;
}

.user-stories{
    margin-bottom: 30px;
    margin-top: 70px;
    text-align: left    ;
    font-size: 40px;
    font-weight: 800;
}

.break{
    margin-bottom: 30px;
    margin-top: 20px;
    text-align: left    ;
    font-size: 18px;
    font-weight: 100;
}


.project-left span{
    font-weight: 600;
}

.project-left span {

    font-weight: 800;
}

