.project-title{
    font-size: 60px;
    color: white;
    font-weight: 800;
    margin-bottom: 20px;
    margin-top: 180px;
}

h1{
    text-transform: none;
}

main{
    margin-left: 20%;
    margin-right: 20%;
}

.project-sub{
    font-size: 18px;
    font-weight: 100;
    margin-bottom: 150px;
}

.problem-statement{
    margin-top: 10px;
    font-size: 40px;
    font-weight: 800;
}

.statement{
    line-height: 25px;
    font-size: 18px;
    font-weight: 100;
    margin-right: 0%;
    margin-top: 20px;
}

.problem-statement1{
    margin-top: 10px;
    font-size: 40px;
    font-weight: 800;
    text-align: right;
}

.statement1{
    line-height: 25px;
    font-size: 18px;
    font-weight: 100;
    margin-left: 40%;
    margin-top: 20px;
    text-align: right;
    
}

.group{
    display: flex;
    justify-content: center;

    gap:60px;
}

.group .left{
    width: 50%;

    /* border: 1px solid red; */
}

.group .right{
    margin-top: 0px;
    width: 50%;

    /* border: 1px solid red; */
}

/* .group .right img{
    border-radius: 10px;
} */

.group .left .statement{
    margin-right: 0;
}
 
.userflow{
    margin-top: 70px;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.userflow-text{
    line-height: 25px;
    text-align: center;
    font-size: 18px;
    font-weight: 100;
    /* margin-right: 40%; */
    margin-top: 20px;
}

.twopictures{
    display: flex;
    justify-content: space-evenly;

    margin-top: 30px;
    margin-bottom: 40px;
}

.twopictures img{
    width: 400px;
    border-radius: 10px;
}

.imag{
    width: 820px;
    border-radius: 10px;
}

.image2{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.wireframes{
    justify-content: center;
    text-align: center;

    margin-top: 60px;
}

.wireframe{
    margin-bottom: 30px;
    margin-top: 70px;
    text-align: center;
    font-size: 40px;
    font-weight: 800;

}

.wireframe1{
    margin-bottom: 30px;
    margin-top: 70px;
    text-align: center;
    font-size: 40px;
    font-weight: 800;

}


.element{
    margin-bottom: 50px;
}

.element .problem-statement1{
    text-align: left;
}
s
.element .statement1{
    text-align: left;
    margin-left: 0;
}

.statement1{
    margin-left: 0;
    text-align: left;
}



.wireframes h2{
    line-height: 25px;
    text-align: center;
    font-size: 18px;
    font-weight: 100;
    /* margin-right: 40%; */
    margin-top: 0px;
    margin-bottom: 30px;
}

.wireframes .wireframe{
    margin-bottom: 0;
    
}

.wfimg{
    margin-bottom: 30px;
}

.break{
    margin-top: 20px;
}